<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>N & LW Crisis Care - Landscaping Bootstrap4 HTML5 Responsive Template </title>
	<!-- Bootstrap core CSS -->
	<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<!-- Fontawesome CSS -->
	<link href="{% static 'css/all.css' %}"  rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
{% include 'user_novbar.html'%}
 <div class="container">
        <div class="services-bar">
            <h1 class="my-4">Our Contact </h1>
            <!-- Services Section -->
            <div class="row">
               <div class="col-lg-4 mb-4">
                  <div class="card h-100">
                     <h4 class="card-header">Emily</h4>
                     <div class="card-img">
                        <img class="img-fluid" src="{% static 'help-img.jpg' %}" alt="" />
                       </div>
                     <div class="card-body">
                        <p class="card-text">Known for its comprehensive Critical Event Management platform, Everbridge offers tools for communication, incident management, and risk intelligence.</p>
                     </div>
                     
                  </div>
               </div>
               <div class="col-lg-4 mb-4">
                  <div class="card h-100">
                     <h4 class="card-header">Michael</h4>
                     <div class="card-img">
                        <img class="img-fluid" src="{% static 'help-img4.jpg' %}" alt="" />
                     </div>
                     <div class="card-body">
                        <p class="card-text">Specializing in school safety and emergency response, CrisisGo provides a platform for real-time communication, incident management, and training.</p>
                     </div>

                  </div>
               </div>
               <div class="col-lg-4 mb-4">
                  <div class="card h-100">
                     <h4 class="card-header">Sophia</h4>
                     <div class="card-img">
                        <img class="img-fluid" src="{% static 'help-img5.jpg' %}" alt="" />
                     </div>
                     <div class="card-body">
                        <p class="card-text"> A part of the IBM Security portfolio, Resilient focuses on incident response and helps organizations orchestrate and automate responses to various security incidents.</p>
                     </div>

                  </div>
               </div>
            </div>
            <!-- /.row -->
        </div>
   <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src=" {% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
