<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>N & LW Lawn Care - Landscaping Bootstrap4 HTML5 Responsive Template </title>
	<!-- Bootstrap core CSS -->
	<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<!-- Fontawesome CSS -->
	<link href="{% static 'css/all.css' %}"  rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html">
            <img src="{% static 'images/logo.png' %}" alt="logo" />
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a class="nav-link active" href="index.html">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="chat.html">Chat</a>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="/portfolio" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Portfolio
                     </a>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item" href="portfolio-1-col.html">1 Column Portfolio</a>
                        <a class="dropdown-item" href="portfolio-2-col.html">2 Column Portfolio</a>
                        <a class="dropdown-item" href="portfolio-3-col.html">3 Column Portfolio</a>
                        <a class="dropdown-item" href="portfolio-4-col.html">4 Column Portfolio</a>
                        <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a>
                     </div>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbar Dropdown Blog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     INCIDENT REPORTING
                     </a>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item" href="/add_incident">Incident Report</a>
                        <a class="dropdown-item" href="/add_image">Image Uploading</a>
                        <a class="dropdown-item" href="blog-post.html">Blog Post</a>
                     </div>
                  </li>
                   <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbar Dropdown Blog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     SERVICE
                     </a>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item" href="/shelter_view">shelter view</a>
                          <a href="/volunteer_view" class="dropdown-item">volunteer view</a>

                     </div>

                  </li>
                   <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbar Dropdown Blog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     feedback
                     </a>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item" href="/add_feedback">add feedback</a>
                     </div>

                  </li>

                  <li class="nav-item">
                     <a class="nav-link" href="/contact">Contact</a>
                  </li>
                   <li class="nav-item">
                     <a class="nav-link" href="/">Log Out</a>
                  </li>

               </ul>
            </div>
        </div>
    </nav>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src=" {% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


</body>
</html>